@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white; }

header h1, header h3 {
  text-align: right;
  margin: 40px 50px 20px 0;
  font-family: 'Coda Caption', sans-serif; }

header img {
  display: block;
  margin: 0 auto;
  width: 50%; }

.nav-bar {
  margin-top: 4em;
  display: flex;
  justify-content: space-around;
  background-color: #5a5858; }
  .nav-bar ul {
    list-style: none;
    display: flex; }
  .nav-bar li {
    margin: 2em; }
  .nav-bar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
    font-family: 'Coda Caption', sans-serif; }
    .nav-bar a:hover {
      color: #fde400; }

.about {
  background-color: #cfcfcf;
  padding-top: 3em; }
  .about .about-van, .about .about-ramen {
    margin: 0 auto;
    padding: 2em 0;
    display: flex;
    max-width: 800px; }
    .about .about-van .image, .about .about-ramen .image {
      flex: 1;
      margin: 2em; }
      .about .about-van .image img, .about .about-ramen .image img {
        width: 100%; }
    .about .about-van .text, .about .about-ramen .text {
      flex: 1;
      margin: 1em; }
      .about .about-van .text h2, .about .about-ramen .text h2 {
        text-align: center;
        margin: 10px;
        font-family: 'Coda Caption', sans-serif; }
      .about .about-van .text p, .about .about-ramen .text p {
        margin: 10px; }

.restaurants {
  background-image: url("/VanRamen/img/ramen-back.jpg");
  background-size: cover;
  padding-bottom: 5em; }
  .restaurants .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .restaurants .text {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 3em 3em; }
    .restaurants .text h1 {
      margin: 10px;
      font-family: 'Coda Caption', sans-serif; }
  .restaurants .ramen {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 8% 3% 0 3%;
    width: 26%;
    transition: all 0.6s ease 0s; }
    .restaurants .ramen:hover {
      cursor: pointer;
      transform: scale(1.2, 1.2);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7); }
    .restaurants .ramen p {
      margin: 10px; }
    .restaurants .ramen a {
      display: inline-block;
      text-align: center;
      justify-content: end;
      color: black;
      width: 150px;
      background-color: #fff;
      border: 1px solid black;
      border-radius: 5px;
      text-decoration: none;
      margin: 9px 0 10px 10px;
      padding: 3px;
      font-family: 'Anton', sans-serif; }
      .restaurants .ramen a:hover {
        background-color: #d62929;
        color: white; }
    .restaurants .ramen .rName {
      display: flex;
      align-items: center;
      margin: 10px; }
      .restaurants .ramen .rName h3 {
        font-size: larger;
        margin: 0 15px;
        font-family: 'Coda Caption', sans-serif; }

.coupons {
  background-color: #cfcfcf;
  padding: 5em 0;
  text-align: right; }
  .coupons h1 {
    text-align: center;
    font-family: 'Coda Caption', sans-serif; }
  .coupons .container {
    max-width: 90%;
    margin: 0 auto; }
    .coupons .container .coupon {
      margin: 3em 0;
      display: flex; }
      .coupons .container .coupon .rname {
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .coupons .container .coupon .rname img {
          width: auto; }
      .coupons .container .coupon .text {
        flex: 3;
        display: flex;
        text-align: start; }
        .coupons .container .coupon .text .describe {
          flex: 2;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin: 1em; }
          .coupons .container .coupon .text .describe p:nth-child(2) {
            margin-left: auto; }
        .coupons .container .coupon .text .ticket {
          flex: 1;
          border: 2px dashed #5c5c5c;
          text-align: center;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center; }
          .coupons .container .coupon .text .ticket h3 {
            font-size: 25px;
            font-family: 'Coda Caption', sans-serif;
            color: #ff0000;
            width: 100%; }
    .coupons .container .btn-square-raised {
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      background: #252931;
      /*ボタン色*/
      color: #f8f8f8;
      /*ボタン色と同じに*/
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
      border-bottom: solid 3px #535353;
      border-radius: 3px;
      /*角の丸み*/
      font-weight: bold;
      text-shadow: -1px -1px rgba(255, 255, 255, 0.6), 1px 1px rgba(0, 0, 0, 0.5); }
      .coupons .container .btn-square-raised:active {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
        border-bottom: none; }

.contact {
  margin: 5em 3em;
  text-align: center; }
  .contact h1 {
    font-family: 'Coda Caption', sans-serif; }
  .contact .contact-form {
    display: flex;
    margin-top: 3em; }
  .contact .image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
  .contact .container {
    flex: 1;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    /* Style the submit button with a specific background color etc */
    /* When moving the mouse over the submit button, add a darker green color */
    /* Add a background color and some padding around the form */ }
    .contact .container input[type=text], .contact .container select, .contact .container textarea {
      width: 100%;
      /* Full width */
      padding: 12px;
      /* Some padding */
      border: 1px solid #ccc;
      /* Gray border */
      border-radius: 4px;
      /* Rounded borders */
      box-sizing: border-box;
      /* Make sure that padding and width stays in place */
      margin-top: 6px;
      /* Add a top margin */
      margin-bottom: 16px;
      /* Bottom margin */
      resize: vertical; }
    .contact .container input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer; }
    .contact .container input[type=submit]:hover {
      background-color: #45a049; }

footer {
  height: 100px;
  padding: 0 2em;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer .f1 {
    display: flex;
    align-items: center; }
  footer .f2 a {
    color: white; }
  footer small {
    color: white;
    margin: 10px; }
  footer a {
    margin-left: 1em; }
  footer .fab {
    color: white; }

@media (max-width: 768px) {
  /*　画面サイズが768pxから1024pxまではここを読み込む　*/
  .nav-bar ul {
    font-size: 80%; }
  .restaurants .text {
    padding: 3em 3em; }
  .restaurants .ramen {
    margin: 2em auto;
    width: 29%; }
    .restaurants .ramen .rName img {
      width: 44px; }
    .restaurants .ramen:hover {
      cursor: pointer;
      transform: none;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7); }
  footer {
    flex-wrap: wrap;
    flex-direction: column-reverse; }
    footer .f1 {
      display: flex;
      justify-content: center; }
    footer .f2 {
      margin-top: 1em;
      display: flex;
      justify-content: center; } }

@media (max-width: 480px) {
  /*　画面サイズが480pxからはここを読み込む　*/
  .nav-bar ul {
    font-size: 50%; }
  .about .about-van {
    display: block; }
  .about .about-ramen {
    flex-direction: row-reverse;
    flex-flow: column-reverse; }
  .restaurants {
    background-position: 10% top; }
    .restaurants .container {
      flex-wrap: wrap; }
      .restaurants .container .ramen {
        margin: 2em auto;
        width: 90%; }
        .restaurants .container .ramen:hover {
          transform: none; }
  .coupons .container .coupon .rname {
    display: block;
    text-align: center;
    margin-top: 1em; }
    .coupons .container .coupon .rname h3 {
      margin-top: 1em; }
    .coupons .container .coupon .rname img {
      margin-top: 1em; }
  .coupons .container .coupon .text {
    display: block; }
  .contact h1::after {
    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-left: 1em;
    background: url("/VanRamen/img/ramen3.png") no-repeat;
    background-size: contain; }
  .contact .contact-form {
    display: block; }
  .contact .image {
    display: none; }
  footer {
    height: 150px;
    flex-wrap: wrap;
    flex-direction: column-reverse; }
    footer .f1 {
      display: flex;
      justify-content: center; }
    footer .f2 {
      margin-top: 1em;
      display: flex;
      justify-content: center; } }
