*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
    background-color: rgb(255, 255, 255);
    
}




header {

    h1, h3{
        text-align: right;
        margin: 40px 50px 20px 0;
        font-family: 'Coda Caption', sans-serif;
        
    }

    img {
        display: block;
        margin: 0 auto;
        width: 50%;
    }

}


.nav-bar {
    margin-top: 4em;
    // padding: 1em;
    display: flex;
    justify-content: space-around;
    background-color: rgb(90, 88, 88);

    ul{
        list-style: none;
        display: flex;
    }

    li{
        margin: 2em;
    }
    
    a {
        text-decoration: none;
        color:rgb(255, 255, 255);
        font-weight: bold;
        font-size: larger;
        font-family: 'Coda Caption', sans-serif;

        &:hover{
            color: rgb(253, 228, 0);
        }
    }

    
}



.about {
    background-color: rgb(207, 207, 207);
    padding-top: 3em;
    

    .about-van, .about-ramen{
        margin: 0 auto;
        padding: 2em 0;
        display: flex;
        max-width: 800px;

        .image {
            flex: 1;
            margin: 2em;
            
            img{
                width: 100%;
            }
        }

        .text{
            flex: 1;
            margin: 1em;

            h2{
                text-align: center;
                margin: 10px;
                font-family: 'Coda Caption', sans-serif;
            }
            p{
                margin: 10px;
            }
        }
       
    }


}

.restaurants {
    background-image: url("/VanRamen/img/ramen-back.jpg");
    background-size: cover;
    padding-bottom: 5em;
    // height: 900px;

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .text{
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center;
        padding: 3em 3em;

        h1{
            margin: 10px;
            font-family: 'Coda Caption', sans-serif;
        }
    }

    .ramen{
        background-color: rgba(255, 255, 255, 0.5);
        // margin: 5em 0 10px 0;
        margin: 8% 3% 0 3%;
        width: 26%;
        // max-width: 300px;
        transition: all 0.6s ease 0s;

        &:hover{
            cursor: pointer;
            transform: scale(1.2, 1.2);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
        }
        
        p{
            margin: 10px;
            
        }

        a{
            display: inline-block;
            text-align: center;
            justify-content: end;
            color: black;
            width: 150px;
            background-color: #fff;
            border: 1px solid black;
            border-radius: 5px;
            text-decoration: none;
            margin: 9px 0 0 10px;
            padding: 3px;

            &:hover{
                background-color: rgb(14, 13, 13);
                color: white;
            }

        }


        .rName{
            display: flex;
            align-items: center;
            margin: 10px;
            
            h3{
                font-size: larger;
                margin: 0 15px;
                font-family: 'Coda Caption', sans-serif;
            }
        }
        
    }
}

.coupons{
    background-color: rgb(207, 207, 207);
    padding: 5em 0;
    text-align: right;

    h1{
        text-align: center;
        font-family: 'Coda Caption', sans-serif;
    }
    
    .container{
        max-width: 90%;
        margin: 0 auto;

        .coupon{
            margin: 3em 0;
            display: flex;

            .rname{
                flex: 1;
                display: flex;
                justify-content: space-around;
                align-items: center;
                

                img{
                    width: auto;
                }
            
            }
            .text{
                flex: 3;
                display: flex;
                text-align: start;

                .describe{
                    flex: 2;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin: 1em;
                    
                    p:nth-child(2){
                        margin-left: auto;
                        // background-color: #fff;
                    }
                }
                .ticket{
                    flex: 1;
                    border: 2px dashed rgb(92, 92, 92);
                    text-align: center;
                    display:flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    
                    h3{
                        font-size: 25px;
                        font-family: 'Coda Caption', sans-serif;
                        color: #ff0000;
                        width: 100%;
                    }
                }
            }
        }

        .btn-square-raised {
            display: inline-block;
            padding: 0.5em 1em;
            text-decoration: none;
            background: #252931;/*ボタン色*/
            color: #f8f8f8;/*ボタン色と同じに*/
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
            border-bottom: solid 3px #535353;
            border-radius: 3px;/*角の丸み*/
            font-weight: bold;
            text-shadow: -1px -1px rgba(255, 255, 255, 0.6), 1px 1px rgba(0, 0, 0, 0.5);
          
        
            &:active {
              
              -webkit-transform: translateY(4px);
              transform: translateY(4px);
              box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
              border-bottom: none;
            }
        }
            

    }
}

.contact{
    margin: 5em 3em;
    text-align: center;

    h1{
        font-family: 'Coda Caption', sans-serif;
    }

    .contact-form{
        display: flex;
        margin-top: 3em;
    }

    .image{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container{
        flex: 1;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;

        input[type=text], select, textarea {
            width: 100%; /* Full width */
            padding: 12px; /* Some padding */ 
            border: 1px solid #ccc; /* Gray border */
            border-radius: 4px; /* Rounded borders */
            box-sizing: border-box; /* Make sure that padding and width stays in place */
            margin-top: 6px; /* Add a top margin */
            margin-bottom: 16px; /* Bottom margin */
            resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
          }
          
          /* Style the submit button with a specific background color etc */
          input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
          
          /* When moving the mouse over the submit button, add a darker green color */
          input[type=submit]:hover {
            background-color: #45a049;
          }
          
          /* Add a background color and some padding around the form */
          
    }
    
}

footer {
    height: 100px;
    padding: 0 2em;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .f1{
        display: flex;
        align-items: center;
    }
    .f2{
        
        a{
            color: white;
        }
    }

    small{
        color: white;
        margin: 10px;
    }

    a{
        margin-left: 1em;
    }

    .fab{
        color: white;
    }
}

@media (max-width:768px){
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/

    .nav-bar ul {
        font-size: 80%;
    }

    .restaurants {
    
        .text{
            padding: 3em 3em;
    
        }
    
        .ramen{
            margin: 2em auto;
            width: 29%;

            .rName img{
                width: 44px;
            }
        
            &:hover{
                cursor: pointer;
                transform: none;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
            }
            
        }
        

    }

    footer{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        
        

        .f1{
            display: flex;
            justify-content: center;
        }
        
        .f2{
            margin-top: 1em;
            display: flex;
            justify-content: center;
        }
    }

}

@media (max-width:480px) { 
    /*　画面サイズが480pxからはここを読み込む　*/

    .nav-bar ul {
        font-size: 50%;
    }

    .about{

        .about-van{
            display: block;
        }

        .about-ramen{
            flex-direction: row-reverse;
            flex-flow: column-reverse;
        }
    }

    .restaurants {

        background-position: 10% top;
        
        .container{
            flex-wrap: wrap;
            
            .ramen{
                margin: 2em auto;
                width: 90%;
            
                &:hover{
               
                    transform: none;
                    
                }
            }
        }
    }


    .coupons{
        .container{
            .coupon{
                .rname{

                    display: block;
                    text-align: center;
                    margin-top: 1em;

                    h3{
                        margin-top: 1em;
                    }
                    
                    img{
                        margin-top: 1em;
                    }
                
                }
                .text{
                    display: block;
                }
            }
        }
    }

    .contact{

        h1{
            &::after{
                content:"";
                display: inline-block;
                width: 2em;
                height: 2em;
                margin-left: 1em;
                background:url("/VanRamen/img/ramen3.png")no-repeat;
	            background-size:contain;
            }
        }
    
        .contact-form{
            display: block;
        }

        .image{
            display: none;
        }
    
    }

    footer{
        height: 150px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        
        .f1{
            display: flex;
            justify-content: center;
        }
        
        .f2{
            margin-top: 1em;
            display: flex;
            justify-content: center;
        }
    }


    
    
    
}